{% extends '@Dashboard/Default/layout.html.twig' %}
{% block body %}
    <button class="btn btn-lg btn-primary ajax">click me!</button>
    <div id="ajax-results">here comes the result</div>
{% endblock body %}
{% block ajax %}
    <script type="text/javascript">
        $(document).on('click', 'button.ajax', function(){

            $.ajax({
                url:'{{ path('dashboard_ajax') }}',
                type: "POST",
                dataType: "json",

                data: {
                    "some_var_name": "some_var_value"
                },
                async: true,
                success: function (data)
                {
                    console.log(data.output)
                    $('div#ajax-results').html(data.output);

                },
                error : function(xhr, textStatus, errorThrown) {
                    alert('Server Error !');
                }

            });
            return false;

        });
    </script>

{% endblock ajax %}
