{% extends '@Dashboard/Default/layout.html.twig' %}
{% block title %}Monitoring{% endblock %}
{% block body %}
    <section class="wrapper">
        <div class="row mt">
            <div class="col-md-12">
                <div class="content-panel">
                    <table class="table table-striped table-advance table-hover">
                        <h4><i class="fa fa-angle-right"></i> Monitoring</h4>
                        <hr>
                        <thead>
                        <tr>
                            <th><i class="fa fa-bullhorn"></i> Server Name</th>
                            <th class="hidden-phone"><i class="fa fa-question-circle"></i> IP Address</th>
                            <th><i class="fa fa-bookmark"></i> Services</th>
                            <th><i class=" fa fa-archive"></i> </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for server in servers %}
                            <tr>
                                <td>{{ server.name }}</td>
                                <td><span class="label label-info label-mini">{{ server.ip }}</span></td>
                                <td class="hidden-phone"><span class="label label-danger label-mini">FTP</span> </td>
                                <td>
                                    <center>
                                        <a class="btn btn-success btn-xs" href="http://{{ server.ip }}:6175">Control</a>
                                    </center>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /content-panel -->
            </div><!-- /col-md-12 -->
        </div><!-- /row -->
    </section>
{% endblock %}